SECRET_KEY=prize-super-seguro-2026-omar
SESSION_COOKIE_SECURE=1
SESSION_COOKIE_SAMESITE=Lax
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=tu_correo@gmail.com
# SMTP_PASSWORD=tu_clave_app
# SMTP_FROM=tu_correo@gmail.com
